ion-content{
    --background: url('./../../assets/images/aquaman.jpeg');
    --color: white; 
}
ion-img{
    width: 50%;
    margin: 0 auto;
    padding-top: 50vw;
}
.butoes{
    padding-top: 10%;
}
ion-button{
    --background: #4167b2;
}
.register{
    width: 50%;
    margin: 0 auto;
}