<ion-header> </ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img [src]="pessoas[1].urlImagem" />
      <span> {{ pessoas[1].nome }} </span>
      <span> {{ pessoas[1].dataNascimento }} </span>
      <p> {{ pessoas[1].emprego }} </p>
      <p> {{ pessoas[1].estudo }} </p>
      <p> {{ pessoas[1].localizacao }} </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="refresh" style="color: #e8bd0f" id="menor"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="close" style="color: #df5562" id="maior"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="star" style="color: #0fa0e3" id="menor"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="heart" style="color: #19d69c" id="maior"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="flash" style="color: #984dce" id="menor"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
