.divCima{
    ion-avatar{
        margin: 0 auto;
    }
    background: #789978;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px; 
}
ion-content{
    --background:#789123; 
}
.divBaixo{
}