<ion-header> </ion-header>

<ion-content>
  <div class="divCima" text-center>
    <ion-avatar>
      <img [src]="usuario.photoURL" />
    </ion-avatar>

    <h2>{{ usuario.displayName }}</h2>
    <p>{{ usuario.email }}</p>

    <div>
      <ion-buttons>
        <ion-button  class="botoesLaterais" >
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>

        <ion-button padding >
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>

        <ion-button  class="botoesLaterais" >
          <ion-icon fill="default" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="divBaixo" text-center>
    <ion-slides pager="true" [options]="slideOpts" #slides>
      <ion-slide>
        <h1>Slide 1</h1>
        <p>Conteudo do slide foda</p>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>

    <div>
      <ion-button class="centralizar botoesFundo" expand="block" shape="round" (click)="logout()">Meu Tender Plus</ion-button>
      <ion-button class="centralizar botoesFundo" expand="block" shape="round" (click)="logout()">Sair</ion-button>
    </div>
  </div>
</ion-content>
