ion-tab-bar{
    --color: #f0eef3;
}
ion-buttons {
    margin: 0 auto;
    justify-content: center;
}

ion-icon{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin: 5px;
}

.botoesLaterais {
    background-color: #ffffff;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    margin-bottom: 10%;
}

.botaoCentral{
    background-image: linear-gradient(to bottom right, red, yellow);
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 5%;    
}

.centralizar {
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10px;
}

.botoesFundo {
    --background: #fefefe;
    color: red;
    font-weight: bold;
    width: 70%;
}

.divCima {
    ion-avatar {
        margin: 0 auto;
    }

    background: #f0eef3;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 10px;
}

ion-content {
    --background: #e9e7ec;
}

.divBaixo{
    margin-top: 40px;
}

.btsFundo {
    margin-top: 50px;
}